jmespath==0.10.0
Legobot>=1.3.2
legos.xkcd==0.2.1
legos.wtf
legos.stocks
legos.codinglove
# legos.dice
legos.ctftime
legos.fact_sphere==0.2.2
legos.memes>=0.3.6
legos.apod==0.1.1
#legos.markov
#redis==2.10.6
#markovify
#nltk
pyyaml
